@media (max-width :992px) {
    .headerGone {
        display: none;
    }

    .header {
        padding: 30px 0;
        height: 50px;
        align-items: center;

    }

    .humbergur {
        display: block;
    }

    .heroSection {
        margin: 0;
        height: 350px;
    }

    .bigBorder {
        display: none;
    }

    #fName,
    #lName,
    #email,
    #phone,
    #dob {
        width: 400px;
        box-sizing: border-box;
    }
    .information {
        max-width: 600px;
        padding: 40px 40px;
        box-sizing: border-box;
    }
    .hobbie,
    .DOBandNumber,
    .formNameDiv {
        display: block;
    }

    #messanger{
        width: 500px;
    }
    .formBox{
        align-items: center;
    }
    .footerBotton{
        flex-direction: column;
        padding: 10px;
    }    
    .footerUpper{
        padding: 0 10px;
    }
    .footerUpperChildDivsItems{
        width: 303px;
    }
}

@media (max-width: 1250px) {
    .bigBorder {
        width: 850px;
    }
}

@media (max-width: 750px) {    
    .information {
        max-width: 300px;
        padding: 40px 20px;
        box-sizing: content-box;
    }
    .formBox{
        align-items: center;
    }
    #messanger{
        width: 300px;
    }
    #fName,
    #lName,
    #email,
    #phone,
    #dob {
        width: 299px;
        box-sizing: border-box;
    }
}
